strong {
    color: #FF8A65 !important;
}

h1 {
    color: #FF8A65 !important;
}

h2 {
    color: #FFF176 !important;
}

h3 {
    color: #81C784 !important;
}

h4 {
    color: #4CAF50 !important;
}

.link {
    color: #FFF176 !important;
}